body,html{
  font-size: 18px;
  color: #555;
  background-color:#222;
}

a{
  all: unset;
  cursor:pointer;
}

li {
}

header{
  padding:  15px 15px 15px 15px;
  color:#260339;
  font-size:22px;
  font-weight: 700;
}

h1{
  text-align: center;
  margin-top: 30%;
}

h2{
  font-size:20px;
  font-weight: 700;

}
h3{
  font-size:19px;
  font-weight: 700;

}

section{
  margin: 68px 15px 1px 32px;
}
p{
padding: 15px 10px 5px 20px;
border: 5px solid #B795CA;
border-radius: 10px;
}
code{
  padding: 5px 5px 5px 5px;
  display: block;
  background-color: #B795CA;
  border: 1px solid #77558A;
}

#navbar{
  position: fixed;
  top: 1px;
  left: 1px;
  height: 100%;
  width:30%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: #887CAF;
  border: 3px ridge #13073A;
  display: flex;
  flex-direction: column;
}


.nav-link{
  padding: 4px 0 25px 10px;
  margin-top: 5px;
  margin-left: 5px;
  border-top: 5px solid #13073A;
  background-color: #403075;
  border-radius: 5px;
  color: #c8bCeF;
  list-style: none;
  font-weight:600;
  text-transform: uppercase;
}

#main-doc{
  background-color: #9775AA;
  color: #260339;
  overflow:scroll;
  position: fixed;
  top: 1px;
  left: 31%;
  width: 69%;
  height:100%;
}

.note-comment li{
padding: 5px 5px 5px 5px;
background-color:#869;
border: 1px solid #57356A;

}
.note-comment{
  border-radius: 0;

padding: 5px 5px 5px 5px;
background-color:#869;
border: 1px solid #57356A;
}

@media only screen and (max-width: 600px) {
    body,html {
        background-color: white;
        color:darkblue;

    }
    #main-doc{
      background-color: white;
      color:darkblue;


    }
    .note-comment{
      background-color: white;
      color:darkblue;


    }
    #navbar{
      background-color: white;
      color:darkblue;


}
.nav-link{
  background-color: gray;
  color:darkblue;
}
.nav-link:hover{
  background-color: #030;
  color:gray;
}

}
